<form name="detailsForm" ng-submit="detailsForm.$valid && storeDetails(learner)" novalidate>
    <div class="jumbotron">
        <div class="instruction">
            <h3>{{ this.welcome }} <span ng-bind="learner.firstName"></span></h3>
            <h5>{{ this.instruction }}</h5>
        </div>
        <fieldset class="form-group">
            <input min="0" ng-minLength="3" max="10" type="text" name="firstName" ng-model="learner.firstName" class="form-control" placeholder="first name" title="firstName" validfield required focus/>
            <p class="error" ng-show="detailsForm.firstName.$error.minlength">name is too short.</p>
        </fieldset>
        <fieldset class="form-group">
            <input ng-minlength="3" ng-maxLenth="30" type="text" name="lastName" ng-model="learner.lastName" class="form-control" placeholder="last name" title="lastName" validfield required />
            <p class="error" ng-show="detailsForm.lastName.$error.minlength">name is too short.</p>
        </fieldset>
        <fieldset class="form-group">
            <input type="email" ng-model="learner.email" name="email" class="form-control" placeholder="email address" title="email" validfield required />
            <p class="error" ng-show="detailsForm.email.$invalid && !detailsForm.email.$pristine">Enter a valid email.</p>
        </fieldset>
    </div>
    <fieldset class="form-group">
        <input ng-show="detailsForm.$valid" type="submit" class="btn btn-primary pull-right" value="Submit" />
    </fieldset>
</form>
